<div class="modulo">
  <app-header 
    [tituloModulo]="titulo" 
    [mostrarCrear]="true" 
    [accion]="'ConsultarTodos'"
    [raiz]="'/administracion/nominas'" 
    [regresar]="'/administracion/actividades-colaboradores'"
    [iconoTitulo]="'/assets/images/nomina.png'">
  </app-header>

  <!-- Tabla de datos -->
  <app-tablas 
    [titulos]="titulos" 
    [datos]="datos" 
    [raiz]="'/administracion/nominas'" 
    [accionVer]="true"
    [accionEditar]="true" 
    [accionEliminar]="true" 
    [mostrarBuscar]="true"
    [columnasFiltro]="columnasFiltro" 
    [acciones]="acciones" 
    (clicAccion)="seleccionar($event)">
  </app-tablas>
</div>