<div class="modulo">
  <app-header
    [tituloModulo]="titulo"
    [mostrarCrear]="true"
    [accion]="'ConsultarTodos'"
    [raiz]="'/academico/grados'"
    [regresar]="'/academico'"
    [iconoTitulo]="'/assets/images/grados.png'"
  ></app-header>
  
  <app-tablas
    [titulos]="titulos"
    [datos]="datos"
    [raiz]="'/academico/grados'"
    [acciones]="acciones"
    [accionEditar]="true"
    [accionEliminar]="true"
    [mostrarBuscar]="true"
    [columnasFiltro]="columnasFiltro"
    (clicAccion)="clicAccion($event)"
  ></app-tablas>
</div>