<div class="modulo">
  <app-header [tituloModulo]="titulo" [mostrarCrear]="false" [accion]="accion"
    [raiz]="'/administracion/financiero/convenios'"
    [regresar]="regresar" [iconoTitulo]="'/assets/images/contratos.png'"></app-header>

  <div class="container mt-5" [ngClass]="{ 'disabled-container': !editable }">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <label class="form-label">Nombre <span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-lg" [(ngModel)]="model.nombre"
          [ngClass]="{'is-invalid': !model.nombre && submitted}" [disabled]="!editable">
      </div>
      <div class="col-sm-12 col-md-6">
        <label class="form-label">Producto/Servicio asociado <span class="text-danger">*</span></label>
        <select class="form-select form-select-lg" [(ngModel)]="model.id_producto_servicio"
          [ngClass]="{'is-invalid': !model.id_producto_servicio && submitted}" [disabled]="!editable">
          <option value="">Seleccionar</option>
          <ng-container *ngFor="let ps of listas.productosServicios">
            <option [value]="ps.id">{{ ps.nombre }} - ${{ ps.valor_sugerido | number:'1.0-0' }}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12 col-md-9">
        <label class="form-label">Descripción</label>
        <textarea class="form-control form-control-lg" rows="3" [(ngModel)]="model.descripcion"
          [disabled]="!editable"></textarea>
      </div>
      <div class="col-sm-12 col-md-3">
        <label class="form-label">Estado</label>
        <select class="form-select form-select-lg" [(ngModel)]="model.activo" [disabled]="!editable">
          <option [ngValue]="1">Activo</option>
          <option [ngValue]="0">Inactivo</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-6" *ngIf="editable">
        <button class="btn btn-lg btn-warning w-100" (click)="grabar()">Grabar</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-lg btn-secondary w-100" (click)="volver()">Volver</button>
      </div>
    </div>
  </div>
</div>