<div class="modulo">
    <app-header 
        [tituloModulo]="titulo" 
        [mostrarCrear]="true" 
        [accion]="'ConsultarTodos'"
        [raiz]="'/administracion/datos-maestros/menus/items'" 
        [regresar]="'/administracion/datos-maestros/menus'"
        [iconoTitulo]="'/assets/images/items-menu.png'">
    </app-header>

    <!-- Vista de tabla -->
    <app-tablas 
        [titulos]="titulos" 
        [datos]="datos" 
        [raiz]="'/administracion/datos-maestros/menus/items'" 
        [acciones]="acciones" 
        [accionVer]="true" 
        [accionEditar]="true" 
        [accionEliminar]="true" 
        [mostrarBuscar]="true" 
        (clicAccion)="clicAccion($event)">
    </app-tablas>
</div>