<div class="modulo">
  <app-header [tituloModulo]="titulo" [mostrarCrear]="false" [raiz]="'/'" [regresar]="'/reportes'"></app-header>

  <div class="row mb-3">
    <div class="col-sm-6 col-md-4 mt-3">
      <label for="grupo">Seleccionar grupo:</label>
      <select id="grupo" class="form-control" [(ngModel)]="grupoSeleccionado" (change)="filtrarDatosGrupos()">
        <option value="">Todos</option>
        <option *ngFor="let grupo of grupos" [value]="grupo.id_grupo">{{ grupo.nombre_grupo }}</option>
      </select>
    </div>

    <div class="col-sm-6 col-md-4 mt-3">
      <label for="estudiante">Seleccionar estudiante:</label>
      <select id="estudiante" class="form-control" [(ngModel)]="estudianteSeleccionado"
        (change)="filtrarDatosEstudiantes()">
        <option value="">Todos</option>
        <option *ngFor="let estudiante of estudiantes" [value]="estudiante.id_estudiante">
          {{ estudiante.nombre_completo }}
        </option>
      </select>
    </div>



    <div class="col-sm-6 col-md-4 mt-3">
      <input type="checkbox" id="pendientes" [(ngModel)]="filtrarIncluirInactivos" (change)="filtrarDatosPendientes()">
      <label for="pendientes" class="ms-2">Incluir Inactivos</label>
    </div>

    <!-- Botón para resetear los filtros -->
    <div class="col-sm-6 col-md-4 mt-3">
      <button class="btn btn-secondary" (click)="resetearFiltros()">Borrar filtros</button>
    </div>
  </div>
  <hr class="mt-3 mb-3" />
  <app-tablas [titulos]="titulos" [datos]="datosFiltrados" [raiz]="'/reportes'"
    [acciones]="acciones" (clicAccion)="clicAccion($event)"></app-tablas>
</div>