<div class="modulo">
  <app-header
    [tituloModulo]="titulo"
    [mostrarCrear]="true"
    [accion]="'ConsultarTodos'"
    [raiz]="'/academico/ambientes'"
    [regresar]="'/academico'"
    [iconoTitulo]="'/assets/images/ambientes.png'"
  ></app-header>

  <app-tablas
    [titulos]="titulos"
    [datos]="datos"
    [raiz]="'/academico/ambientes'"
    [acciones]="acciones"
    [accionEditar]="true"
    [accionEliminar]="true"
    [mostrarBuscar]="true"
    [columnasFiltro]="columnasFiltro"
    (clicAccion)="clicAccion($event)"
  ></app-tablas>
</div>
